.nav-bar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;  
    transition: height 0.5s, width 0.5s, border-radius 0.5s;
    transition-delay: 0s, 0.5s, 0.55s;
    overflow: hidden;
    &.active {
    width: 240px;
    height: 350px;
    border-radius: 6px;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
    transition-delay: 0s, 0.5s;
    }
  }
  
  .methods {
    width: calc(100% - 165px*2);
    margin: 0 auto;
    padding-top: 149px;
    @media screen and (max-width: 1024px) {
        .methods {    
          width: 692px;
        }
      }
      
      @media screen and (max-width: 768px) {
        .methods {    
          padding-top: 60px;;
        }
      }
  }
  
  @media screen and (max-width: 1024px) {
    .methods {    
      width: 692px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .methods {    
      padding-top: 60px;;
    }
  }

  .action {
    position: absolute;
    z-index: 2;
    transform: translateY(-181px);
    max-width: 1275px;
    background: #FAFAFA;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
    padding-bottom: 70px;
    overflow: hidden;
    &__title {
        margin: 0;
        padding-top: 70px;
        margin-left: 164px;
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 74px;
        color: #4D533C;
      }
        @media screen and (max-width: 1024px) {
    & {
      position: relative;
      transform: none;
      padding-bottom: 30px;
    }
      @media screen and (max-width: 1024px) {
        &__title {
          padding-top: 30px;
        }
      }
      
      @media screen and (max-width: 768px) {
        &__title {
          margin-left: 30px;    
          margin-bottom: 20px;
        }
      }
  }
  }

  .button {
    cursor: pointer;
    transition: opacity 0.5s ease;
    background: none;
    border: none;
   &:hover {
    opacity: 0.6;
  }
  }
  
  .button_type_navigation {
    padding: 0;
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button_type_navigation::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    background: #000;
    transform: translateY(-5px);
    box-shadow: 0 5px #000;
    transition: 0.5s;
  }
  
  .button_type_navigation::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    background: #000;
    transform: translateY(5px);
    transition: 0.5s;
  }
  
  .button_type_navigation.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #000;
  }
  
  .button_type_navigation.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  .client {
    position: relative;
    z-index: 2;
    margin: 0;
    background-color: #fcfcfc;
    max-width: 1276px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-113px);
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: -231px;
  }
  
  @media screen and (max-width: 1024px) {
    .client {
      position: relative;
      margin: 0;
      width: 100%;
      transform: none;
    }
  }

  .client__logo {
    margin-top: 60px;
    margin-bottom: 54px;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .client__logo:first-of-type {
    margin-left: 65px;
  }
  
  .client__logo:last-of-type {
    margin-right: 166px;
  }
  
  .client__logo:hover {
    transform: scale(1.1);
    transition: 0.6s ease;
  }
  
  @media screen and (max-width: 1024px) {
    .client__logo:last-of-type {
      margin-right: 65px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .client__logo {
      margin: 30px 0px;
    }
  
    .client__logo:first-of-type {
      margin-left: 20px;
    }
  
    .client__logo:last-of-type {
      margin-right: 20px;
    }
  }

  .client__icon {
    width: 156px;  
  }
  
  @media screen and (max-width: 768px) {
    .client__icon {
      width: 135px;
    }
  
  }

  .column__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
    text-decoration: none;
  }
  .column__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-right: 89px;
  }
  
  .column__list:last-of-type {
    margin-right: 0;
  }
  .column {
    margin: 0;
    padding: 0;
    display: flex;
  }
  .comment {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 323px;
    width: 453px;
    background-color: #FFFFFF;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 8px;
  }
  
  @media screen and (max-width: 1024px) {
    .comment {    
      width: 550px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .comment {    
      position: static;    
      width: 600px;
      margin-left: 30px;
      margin-top: 30px;
    }
  }
  .comment_type_revers {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 454px;
  }
  
  @media screen and (max-width: 1024px) {
    .comment_type_revers {    
      left: 184px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .comment_type_revers {    
      position: static;    
      width: 600px;
      margin-left: 30px;
      margin-top: 30px;
    }
  }
  .comment__text {
    margin: 0;
    padding: 30px 33px 24px 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #4D533C;
  }
  .comment__name {
    margin: 0;
    padding-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #4D533C;
  }
  .comment__info {
}
.comment__description {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #152934;
  }
  .comment__avatar {
    margin-right: 14px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
  }
  .comment__author {
    width: 220px;
    padding-left: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .contact {
    margin: 0px auto;
    padding: 0;
    width: calc(100% - 165px*2);
    margin-bottom: 52px;
    padding-top: 310px;
    display: flex;
    justify-content: flex-start;
  }
  
  @media screen and (max-width: 1024px) {
    .contact {
      padding-top: 60px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .contact {
      width: calc(100% - 30px*2);
    }
  }
  .contact__info {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
  }
  .contact__heading {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
  }
  .contact__cell {
    list-style: none;
    margin-right: 128px;
  }
  .copyright {
    margin: 0px auto;
    width: calc(100% - 165px*2);;
  }
  
  @media screen and (max-width: 1024px) {
    .copyright {
      width: calc(100% - 166px*2);
    }
  }
  
  @media screen and (max-width: 768px) {
    .copyright {
      width: calc(100% - 30px*2);
    }
  }
  .copyright__text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
  }
  .copyright__info {  
    margin: 0px auto;
    display: flex;
    padding-top: 24px;
    padding-bottom: 33px;
    justify-content: space-between;
  }
  .footer {
    background-image: url(/images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  .header {
    margin: 0;
    background-image: url(../../images/header-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 286px;
  }
  
  @media screen and (max-width: 768px) {
    .header {
      padding-bottom: 200px;
    }
  }
  .header__title {
    display: flex;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 123%;
    color: #FFFFFF;
    width: 616px;
    margin-bottom: 24px;
  }
  .header__subtitle {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #FFFFFF;
    width: 581px;
  }
  
  .header__subtitle:first-of-type {
    margin-bottom: 22px;
  }
  
  .header__subtitle:last-of-type {
    margin-bottom: 45px;
  }
  .header__link {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #FFD723;
    cursor: pointer;
    transition: opacity 0.5s ease;
  }
  
  .header__link:hover {
    opacity: 0.6;
  }
  .header__info {
    width: calc(100% - 166px*2);
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (max-width: 768px) {
    .header__info {
      width: calc(100% - 30px*2);
    }
  }
  .line {
    margin: 0px auto;
    color: rgba(33, 56, 66, 0.0955529);
    width: calc(100% - 165px*2);
    height: 1px;
  }
  
  @media screen and (max-width: 1024px) {
    .line {
      width: 692px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .line {
      width: calc(100% - 30px*2);
    }
  }
  .line_type_footer {
    color: #5D6544;
  }
  .link {
    cursor: pointer;
    transition: color 0.5s ease;
  }
  
  .link:hover {
    color: #FFD723
  }
  .logo {
    cursor: pointer;
    transition: opacity 0.5s ease;
    background: none;
  }
  
  .logo:hover {
    opacity: 0.6;
  }
  .logo_place_header {
    width: 258px;
    height: 40px;
  }
  .logo_place_footer {
    display: block;
    width: 200px;
    height: 32px
  }
  .methods-list {  
    background-color: #F2F2F2;
  }
  .methods__title {
    margin: 0;
    margin-bottom: 60px;
    width: 607px;  
    text-align: left;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
  }
  .methods {
    width: calc(100% - 165px*2);
    margin: 0 auto;
    padding-top: 149px;
  }
  
  @media screen and (max-width: 1024px) {
    .methods {    
      width: 692px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .methods {    
      padding-top: 60px;;
    }
  }
  .navigation {
    position: relative;
    z-index: 1;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    margin: 0px auto;
    width: calc(100% - 165px*2);
    max-height: 43px;
    padding-top: 24px;
    padding-bottom: 124px;
  }
  
  @media screen and (max-width: 768px) {
    .navigation {
      width: calc(100% - 30px*2);
    }
  }
  .navigation__list {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .navigation__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #4D533C;
    text-decoration: none;
    text-transform: uppercase;
  }
  .navigation__item {
    list-style: none;
  }
  .page {
    font-family: 'Poppins', sans-serif;
    min-width: 320px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .preview {
    padding-top: 150px;
    width: 976px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 104px;
  }
  
  @media screen and (max-width: 1024px) {
    .preview {
      padding-top: 60px;
      width: 692px;
      flex-direction: column;
      align-items: flex-start
    }
  }
  .preview__title {
    width: 325px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #4D533C;
  }
  
  @media screen and (max-width: 1024px) {
    .preview__title {
      width: 570px;
    }
  }
  .preview__subtitle {
    width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
  }
  
  @media screen and (max-width: 1024px) {
    .preview__subtitle {
      width: 573px;
    }
  }
  .product {
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    align-items: center;  
    position: relative;
    z-index: 1;
  }
  
  .product:last-of-type {
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 1024px) {
    .product {    
      width: 100%;
      padding-bottom: 120px;
      align-items: flex-start;
    }
  }
  
  @media screen and (max-width: 768px) {
    .product {    
      flex-direction: column;
      padding-bottom: 30px;
    }
  }
  .product_type_revers {
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    z-index: 1;
    padding-right: 0px;
  }
  
  @media screen and (max-width: 768px) {
    .product_type_revers {    
      flex-direction: column;
    }
  }
  .product__title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #4D533C;
  }
  
  @media screen and (max-width: 1083px) {
    .product__title {
      font-size: 30px;
    }
  }
  .product__text {
    max-width: 475px;
    min-width: 208px;
  }
  
  @media screen and (max-width: 768px) {
    .product__text {    
      /*max-width: 655px;*/
      max-width: 600px;
      padding-left: 30px;
      
    }
  }
  .product__subtitle {
    margin: 0;
    padding: 24px 0px 90px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
  }
  
  @media screen and (max-width: 1024px) {
    .product__subtitle {    
      padding: 24px 0px 20px;
    }
  }
  .product__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #D4D6D4;
  }
  .product__item {
    padding-bottom: 150px;
  }
  
  @media screen and (max-width: 1024px) {
    .product__item {
      padding-bottom: 60px;
    }
  }
  .product__image {
    margin-right: 70px;
    margin-bottom: 15px;
    width: 735px;
    height: 565px;
    object-fit: cover;
    overflow: hidden;
  }
  
  @media screen and (max-width: 1024px) {
    .product__image {    
      width: 510px;
      height: 400px;
      object-fit: cover;
      margin-right: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .product__image {    
      width: 100%;
      object-fit: cover;
      margin-right: 30px;
    }
  }
  .product__image_type_revers {
    margin-left: 70px;
    margin-right: 0px;
    
    overflow: hidden;
  }
  
  @media screen and (max-width: 1024px) {
    .product__image_type_revers {    
      margin-left: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .product__image_type_revers {    
      width: 100%;
      object-fit: cover;
      margin: 0;
      margin-bottom: 15px;
    }
  }
  .project {
    background-color: #F2F2F2;
  }